#period-change {
    position: relative;
    top: 10%;
    left: 58%;
    padding: 5px 35px 5px 5px;
    font-size: 15px;
    border: 1px solid #ccc;
}

.select-label {
    position: relative;
    left: 60%;
    top: 10%;
    font-weight: bold;
    font-size: 18px;
    padding: 50px;
}

#event-bar-chart {
    padding: 20px;
}
