:root {
    --text-color: black;
    --text-primary-color: #044289;
    --text-secondary-color: #888;
    --text-danger-color: #721c24;

    --link-color: #0366d6;

    --bg-danger-color: #f8d7da;

    --button-priamry-color: #0366d6;
    --button-priamry-hover-color: #0360c9;
}

html {
    min-width: 600px;
    font-family: 'Segoe UI', 'Helvetica', 'Arial', sans-serif;
}

h1, h2 {
    margin: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
}

main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
}

form > .input-group {
    margin: 10px 0;
}

form > .form-message {
    display: none;
    border-radius: 4px;
    margin: 10px 0;
    padding: 6px;
}

form > .form-message.error {
    display: block;
    background-color: var(--bg-danger-color);
    color: var(--text-danger-color);
}

label {
    display: block;
}

input[type="text"], textarea, select {
    font-family: inherit;
    font-size: inherit;
    line-height: 1.5;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="text"]:active, input[type="text"]:focus,
textarea:active, textarea:focus,
select:focus {
    outline: none;
    border: 1px solid #888;
}

.input-group input[type="text"],
.input-group textarea,
.input-group select {
    width: 100%;
    margin: 10px 0;
}

.input-group textarea {
    height: 200px;
    resize: none;
}

.input-inline {
    display: flex;
    align-items: center;
}

.input-inline label {
    margin: 0 10px 0 0;
}

a {
    text-decoration: none;
}

a:link, a:visited, a:hover {
    color: var(--link-color);
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: var(--link-secondary-color);
}

.info-secondary {
    color: var(--text-secondary-color);
}

.btn {
    display: block;
    padding: 5px 10px;
    border: 1px black solid;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
}

.btn:hover {
    color: black;
    text-decoration: none;
    background-color: #eee;
}

.btn.primary {
    border: none;
    background-color: var(--button-priamry-color);
    color: white;
}

.btn.primary:hover {
    background-color: var(--button-priamry-hover-color);
}
